<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Burgers</title>
</head>

<body>
    <header>
        <h1 class="title">Burger Eater</h1>
    </header>
    <div class="container">
        {{{ body }}}
    </div>
    <script src="../assets/js/script.js"></script>
</body>

</html>