<div class="columnDiv">
    <ul>
        {{#each burgers}}
        <li>{{burger_name}}</li>
        {{/each}}
    </ul>
</div>
<div class=" columnDiv">
    <ul>
        {{#each burgers}}
        <li><button>Eat</button></li>
        {{/each}}
    </ul>
</div>
<div class="columnDiv">
    <ul>
    </ul>
</div>
<div class="formDiv">
    <form>
        <input type="text">
        <button>Submit</button>
    </form>
</div>