{{!-- Burgers --}}
<div class="wrapper">
    <div class="column-div">
        <div class="list-wrapper">
            {{#each burgers}}
            {{#unless devoured}}

            <div class="burger-card">
                <img class="burger-img" src="../assets/img/burger.png">
                <p class="burger-text">{{burger_name}}</p>
            </div>

            <div class="button-div">
                <button class="eat-button" data-id="{{id}}" data-devoured="{{devoured}}">Eat</button>
            </div>

            {{/unless}}
            {{/each}}
        </div>
    </div>

    {{!-- Eaten burgers --}}
    <div class="column-div">
        <div>
            {{#each burgers}}
            {{#if devoured}}
            <div class="eaten-div">
                <img class="burger-img" src="../assets/img/burger.png">
                <p class="burger-text">{{burger_name}}</p>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>



    {{!-- Add a new burger --}}
    <div class="form-div" id="form-div">
        <form id="new-burger-form">
            <input class="burger-input" id="burger-input" type="text" name="name" placeholder="Create a burger">
            <button class="burger-submit" id="new-burger-button" type="submit">Create</button>
        </form>
    </div>
</div>