{{!-- Burgers --}}
<div class="columnDiv">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}}</li>
        {{/unless}}
        {{/each}}
    </ul>
</div>


{{!-- Eat burger buttons --}}
<div class=" columnDiv">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li><button class="eat-button" data-id="{{id}}" data-devoured="{{devoured}}">Eat</button></li>
        {{/unless}}
        {{/each}}
    </ul>
</div>


{{!-- Eaten burgers --}}
<div class="columnDiv">
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>
</div>



{{!-- Add a new burger --}}
<div class="form-div" id="form-div">
    <form id="new-burger-form">
        <input id="burger-input" type="text" name="name" placeholder="Add a burger">
        <button id="new-burger-button" type="submit">Submit</button>
    </form>
</div>