.title {
  text-align: center;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.columnDiv {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.columnDiv ul {
  list-style: none;
}

.form-div {
  text-align: center;
}
